{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h5>Public key : {{ pub_key }}</h5>
        <h5>Private key: {{ priv_key }}</h5>
    </div>
</div>
{% endblock %}