{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 hero-text">
        <h2>VSOAI <span>Blockchain</span></h2>
        <h4>Made by Liutauras and Mindaugas</h4>
    </div>
</div>
{% endblock %}