{% extends 'base.html' %}

{% block content %}
<div class="row">
    <form class="contact-form" action="{{ url_for('new_transaction_index') }}" method="POST">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <!--TODO AUTOMATIC SENDER DETECTION-->
                    <input type="text" name="sender" placeholder="Sender: ">
                    <input type="text" name="recipient" placeholder="Recipient: ">
                    <input type="number" name="amount" min="0" placeholder="Amount: ">
                </div>
            </div>

            <button type="submit" class="site-btn btn-success mt-4">Send</button>
        </div>
    </form>
</div>
{% endblock %}